.wrapper {
  position: relative;
  width: 1240px;
  height: 100%;
  margin: 0 auto;
}
.app {
  background-color: #FFFFFF;
  position: relative;
  text-align: center;
}
.title {
  font-family: Arial, Tahoma, sans-serif;
  font-size: 40px;
  font-weight: bold;
  text-align: left;
}
.main {
  height: calc(100vh - 140px);
}
.footer {
  height: 20px;
  text-align: left;
}