.table {
  display: inline-block;
  background-color: #FFFFFF;
  margin-bottom: 20px;
}
.zero_field {
  float: left;
}
.horizontal_legend {
  float: left;
}
.new_line {
  clear: both;
}
.board {
  float: left;
}