.be {
  float: left;
  width: 24px;
  height: 24px;
  /* border-right: 1px solid #AAAAAA;
    border-bottom: 1px solid #AAAAAA; */
  border-right: 1px solid #AAAAAA;
  border-bottom: 1px solid #AAAAAA;

  cursor: pointer;
}
.border_right {
  border-right: 1px solid #333333;
}
.border_bottom {
  border-bottom: 1px solid #333333;
}