/*
    ПРОЕКТ "CROSSW"
    ШРИФТОВЫЕ И ЦВЕТОВЫЕ КОНСТАНТЫ

    Последняя версия: 09.02.2024
*/

:root {
    --base-font-family:        Inter, arial, sans-serif;
    --blue__blue_1:          #F8F5FF;
    --orange__orange_500:    #FF784B;
    --orange__orange_0:      #FFEFE9;
    --blue__blue_0:          #EAEBFC;
}