/*
    ПРОЕКТ "CROSSW.RU - ЯПОНСКИЕ КРОССВОРДЫ"
    ШРИФТОВЫЕ И ЦВЕТОВЫЕ КОНСТАНТЫ

    Последняя версия: 10.02.2024

    UPD: начальная версия
*/

:root {
/*
    Шрифты
*/

    --base-font-family:         arial, sans-serif;

    --text-main:                #333333;
    --text-second:              #888888;


/*
    Основная палитра
*/
    --pink-dark:                #DC6781;
    --pink-medium:              #F18DAF;
    --pink-light:               #F4B6C5;
    --pink-offwhite:            #F5E2E7;
    --pink-bright:              #f0dedd;
    --blue-medium:              #9ABCE9;
    --white:                    #FFFFFF;


/*
    Производное использование
*/
    --background-white:         var(--white);
    --background-pink:          var(--pink-offwhite);


/*
    Скроллбары
*/

    --scrollbar-thumb:          var(--pink-medium);
    --scrollbar-track:          var(--pink-light);          


/*
    Рамки
*/
    --border:                   var(--pink-offwhite);


/*
    Меню
*/
    --menu-item:                   var(--text-second);
}