/*
    ПРОЕКТ "CROSSW.RU - ЯПОНСКИЕ КРОССВОРДЫ"
    ФАЙЛ СТИЛЕЙ

    Последняя версия: 10.02.2024

    UPD: начальная версия
*/

/*
    Импорты
*/

@import "consts.css";


/*
    Страница в целом
*/

body {
    margin: 0;

    font-family: var(--base-font-family);

    border-bottom: 1px solid var(--border);
    
    background-color: var(--background-pink);

    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
}

body::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track);
}

body::-moz-scrollbar-button, ::-webkit-scrollbar-button {
    display: none;
    width: 0px;
}

.header {
    display: flex;
    width: 100%;
    height: 48px;

    background-color: var(--background-white);
}

.header__wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    margin: auto;
}

.header-title {
    display: flex;
    align-items: center;
}

.header-title__logo {
    margin-right: 10px;
}

.header-title__title {
    color: var(--text-main);
    font-size: 16px;
    font-weight: bold;

    text-transform: uppercase;

}

.main-menu {
    color: var(--text-second);
    font-size: 14px;
}

.main-menu__item {
    cursor: pointer;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;

    background-color: var(--background-white);
}